In [2]:
import pandas as pd
initial_df = pd.read_excel("D:\\Projects\\Akros\\joseacevedogomez\\Notas 2024 media y clei\\EC-F04_CONSOLIDADO_10A.xlsx")

initial_df

,,Unnamed: 1,INSTITUCION EDUCATIVA JOSE ACEVEDO Y GÓMEZ,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,CONSOLIDADO DE NOTAS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GRUPO: DÉCIMO A (DESARROLLO DE SOFTWARE),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,PRIMER PERIODO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,APELLIDOS Y NOMBRES,QUÍ,BIOL,FIS,CS,CEP,ART,ETI,...,PIERDEN,% GANAN,% PIERDEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,1,Alvarez Ocampo Juan Esteban,DA,DA,DA,DB,DB,DA,DA,...,8,75.757576,24.242424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,2,Arango Graciano Jimena,DA,DA,DBAJO,DS,DS,DA,DS,...,0,100,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,3,Arboleda Vahos Yulithza,DB,DBAJO,DA,DA,DA,DA,DA,...,4,87.878788,12.121212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,4,Balzan Doria Sebastian Jose,DBAJO,DB,DBAJO,DB,DB,DBAJO,DB,...,1,96.969697,3.030303,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,5,Becerra Caicedo David,DB,DB,DB,DA,DA,DA,DS,...,3,90.909091,9.090909,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,6,Castaño Lujan Samuel Andrey,DB,DB,DB,DA,DA,DA,DA,...,1,96.969697,3.030303,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,7,Chavarria Jaramillo Juan Sebastian,DB,DB,DBAJO,DA,DA,DA,DA,...,7,78.787879,21.212121,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,8,Chavez Perez Helen Johana,DA,DB,DA,DB,DB,DA,DA,...,4,87.878788,12.121212,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,9,Correa Causado Jesus David SE RETIRO EL 27 DE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6,81.818182,18.181818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,10,Cuevas Bello Sheyra Camila Nueva 2024,DBAJO,DBAJO,DBAJO,DB,DB,DA,DA,...,1,96.969697,3.030303,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,11,Gallego Quiros Simon Felipe,DA,DA,DA,DS,DS,DS,DS,...,3,90.625,9.375,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,12,Gomez Loaiza Valerie,DB,DA,DBAJO,DB,DB,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,13,Guerra Arenas Santiago,DA,DA,DBAJO,DB,DB,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,14,Guerra Parra Dilan Arley,DBAJO,DBAJO,DBAJO,NaN,NaN,DA,DB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,15,Libernal Lopez Jhonfreth De Jesus,DB,DB,DBAJO,DB,DB,DS,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,16,Marin Henao Josty,DBAJO,DB,DBAJO,DA,DA,DS,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,17,Martinez Carmona Moise Jesus,DB,DB,DBAJO,DA,DA,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,18,Menco Jimenez Juan Sebastian,DBAJO,DB,DB,DA,DA,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,19,Moreno Guisao Juan Pablo,DB,DB,DBAJO,DB,DB,DA,DB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,20,Nieto Hincapie Yeferson,DS,DA,DA,DS,DS,DA,DS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,21,Perez Garcia Sebastian,DA,DA,DA,DA,DA,DA,DS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,22,Pulgarin De Ossa Jeronimo,DA,DA,DB,DA,DA,DS,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,23,Quiroz Perez Keiner Jose,DB,DB,DB,DA,DA,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,24,Ramirez Aguirre Juan Esteban,DS,DS,DBAJO,DB,DB,DA,DS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,25,Ramos Segovia Alcira Maria SE RETIRO EL 08/03/24,NaN,NaN,DBAJO,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,26,Seguro Querubin Xilani Yelisa,DBAJO,DBAJO,DBAJO,DA,DA,DA,DB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,27,Tapasco Lopez Juan Jose,DA,DA,DBAJO,DB,DB,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,28,Tobon Gallego Juan Pablo,DA,DA,DBAJO,NaN,NaN,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,29,Usuga Baena Melannie,DBAJO,DA,DB,DA,DA,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,30,Velez Buitrago Juan Manuel,DB,DB,DA,DA,DA,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,31,Villegas Jimenez Miguel,DA,DA,DBAJO,DA,DA,DBAJO,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,32,Viloria Muñoz Adrian,DB,DB,DBAJO,DA,DA,DA,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,33,Yepez Carrasco Yosue Alexander,DBAJO,DBAJO,DBAJO,DB,DB,DBAJO,DBAJO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,34,Zuluaga Palomino Juan Pablo TUVO PROMOCIÓN ANT...,DB,DB,DBAJO,DB,DB,DBAJO,DA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,35,Ruiz Hincapié Steven Daniel,DS,DA,DBAJO,DB,DB,DA,DS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,NaN,41,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,NaN,42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Ciencias sociales,Artistica,Etica,Educación Física,Religión,Len. Castellana,Inglés,Matematicas,Tecnología,Filosofía
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3,4,7,0,7,9,5,7,7,0
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15,25,21,25,21,3,13,11,21,15
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13,0,4,5,4,14,11,9,4,14
59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0,4,1,3,1,7,4,6,1,3

In [9]:
def process_workbook(route, quarter):
    df = pd.read_excel(route, sheet_name=quarter ) 
    
    df.columns = df.iloc[8].tolist()
    df = df.iloc[9:,2:]
    df = df.loc[:, 'APELLIDOS Y NOMBRES':'Total pérdidas'].iloc[:, :-1]
    df = df.set_index('APELLIDOS Y NOMBRES')

    df = df.infer_objects()
    replacement_dict = {
        'DBAJO': 'BJ',
        'DB': 'B',
        'DA': 'A',
        'DS': 'S'
        
    }
    df.replace(replacement_dict, inplace=True)
    
    # Replace all other values with None
    for column in df.columns:
        df[column] = df[column].map(lambda x: None if x not in replacement_dict.values() else x)
    
    df.dropna(axis=1, how='all', inplace=True)
    df.dropna(axis=0, how='all', inplace=True)
    
    
    return df

def extract_data(route, quarter):
    df = pd.read_excel(route, sheet_name=quarter ) 
    
    data = {
        'Grado':None,
        'Grupo':None,
        'Periodo': None
    }
    grado_grupo = df.iloc[4,1]
    
    if len(grado_grupo.split(': ')) > 1:
        grado_grupo = grado_grupo.split(': ')[1]
    
    if len(df.iloc[5,1].split(': ')) > 1:
        data['Periodo'] = df.iloc[5,1].split(': ')[1].strip()
    else:
        data['Periodo'] = df.iloc[5,1]
    if len(grado_grupo.split()) > 1:
        data['Grado'] = grado_grupo.split()[0]
        data['Grupo'] = grado_grupo.split()[1]
    else:
        data['Grado'] = grado_grupo.strip()
    return  data

In [4]:
import unicodedata
import re


def remove_tildes(text):
    """Removes the accents of each vowel in a text
    
    :param str text: the text with vowels with accents 
    :return str: the text without the accents 
    """
    # Normalize and remove accents
    text = ''.join(
        char for char in unicodedata.normalize('NFD', text)
        if unicodedata.category(char) != 'Mn'
    )
    return text.strip()

def clean_name(name):
    """Cleans a name by removing numbers and accents.
    
    :param str name: The name to be cleaned.
    :return str: The cleaned name.
    """
    # Remove numbers using regex
    name = re.sub(r'\d+', '', name)
    
    # Remove tildes (accents) from vowels
    name = remove_tildes(name)
    
    # Return the cleaned name
    return name.strip()

def clean_column_name(column):
    """Cleans the column name by:
    - Replacing spaces with underscores.
    - Removing accents from vowels.
    
    :param str column: The original column name.
        
    :return str: The cleaned column name.
    """
    # Replace spaces with underscores
    column = column.replace(" ", "_")
    
    # Normalize and remove accents
    column = remove_tildes(column)
    
    # Convert to lowercase and strip any extra whitespace
    return column.strip().lower()

In [8]:
example_route = ("D:\\Projects\\Akros\\joseacevedogomez\\Notas 2024 media y clei\\EC-F04_CONSOLIDADO_10A.xlsx")

def process_df(route):
    output = []
    df = process_workbook(route, 2)
    data = extract_data(route, 2)   
    for index, row in df.iterrows():
        for column in df.columns:
            
            estudiante = clean_name(index)
            
            materia = clean_column_name(column)
            
            nota = row[column]
            
            grado = clean_column_name(data['Grado'])
            
            grupo = data['Grupo']
            
            output.append((estudiante, materia, nota, grado, grupo))
    return output
            
process_df(example_route)

KeyError: 'APELLIDOS Y NOMBRES'

In [32]:
import os


def process_folder(folder_path):
    """
    Process all SQL files in a folder and save their processed data as JSON.
    """

    if not os.path.exists(folder_path):
        print(f"Folder does not exist: {folder_path}")
        return

    for file_name in os.listdir(folder_path):
        file_path = os.path.join(folder_path, file_name)

        if os.path.isfile(file_path) and file_name.lower().endswith('.xlsx'):
            print(f"\nProcessing file: {file_path}")
            # El periodo 3 contiene las notas definitivas
            print(len(process_df(file_path)))

process_folder("D:\\Projects\\Akros\\joseacevedogomez\\Notas 2024")

Processing file: D:\Projects\Akros\joseacevedogomez\Notas 2024\EC-F04_CONSOLIDADO_1A_COLINA.xlsx
280

Processing file: D:\Projects\Akros\joseacevedogomez\Notas 2024\EC-F04_CONSOLIDADO_1A_COSTA_RICA.xlsx
270

Processing file: D:\Projects\Akros\joseacevedogomez\Notas 2024\EC-F04_CONSOLIDADO_1B_COSTA_RICA.xlsx

AttributeError: 'float' object has no attribute 'split'

In [33]:


def process_workbook(route, quarter):
    df = pd.read_excel(route, sheet_name=quarter)

    df.columns = [str(col).strip() for col in df.iloc[8].tolist()]
    df = df.iloc[9:, 2:]
    df = df.loc[:, :'TP'].iloc[:, :-1]
    df = df.set_index('APELLIDOS Y NOMBRES')

    df = df.infer_objects()
    original_df = df
    # df = replace_notes(df)
    return df

process_workbook(example_route, 2)

,QUÍ,BIO,FIS,SOC,CEP,ART,ETI,EF,REL,LC,ING,MAT,TEC,FIL,MT
APELLIDOS Y NOMBRES,,,,,,,,,,,,,,,
Alvarez Ocampo Juan Esteban,DS,DS,DA,DS,DS,DA,DS,DA,DS,DB,DS,DS,DA,DS,DB
Arango Graciano Jimena,DA,DA,DB,DS,DS,DS,DS,DA,DS,DB,DA,DS,DS,DS,DB
Arboleda Vahos Yulithza,DB,DA,DB,DS,DS,DA,DS,DA,DS,DS,DA,DA,DS,DS,DB
Becerra Caicedo David,DA,DA,DB,DS,DS,DS,DA,DA,DA,DA,DS,DA,DA,DA,DB
Castaño Lujan Samuel Andrey,DB,DA,DA,DS,DS,DA,DA,DA,DA,DA,DA,DA,DA,DA,DB
Chavarria Jaramillo Juan Sebastian,DA,DA,DB,DS,DS,DA,DA,DB,DA,DB,DB,DS,DB,DA,DB
Chavez Perez Helen Johana,DB,DA,DA,DA,DA,DA,DS,DA,DS,DB,DB,DA,DA,DS,DB
Correa Causado Jesus David SE RETIRO EL 27 DE FEB/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cuevas Bello Sheyra Camila Nueva 2024,DB,DB,DA,DS,DS,DA,DA,DB,DA,DA,DA,DA,DA,DA,DB
Guerra Parra Dilan Arley SE RETIRÓ EL 22/10/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Marin Henao Josty,DB,DB,DB,DA,DA,DA,DB,DA,DB,DB,DB,DA,DA,DB,DB
Moreno Guisao Juan Pablo,DB,DB,DB,DB,DB,DA,DA,DA,DA,DBAJO,DBAJO,DA,DB,DA,DB
Perez Garcia Sebastian,DA,DA,DA,DS,DS,DS,DS,DA,DS,DB,DA,DS,DA,DS,DB
Quiroz Perez Keiner Jose,DB,DB,DB,DA,DA,DA,DB,DA,DB,DBAJO,DB,DB,DB,DB,DB
Ramos Segovia Alcira Maria SE RETIRO EL 08/03/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ruiz Hincapié Steven Daniel PASÓ DE LA NOCHE,DS,DS,DB,DA,DA,DA,DS,DA,DS,DBAJO,DS,DS,DA,DS,DB
Seguro Querubin Xilani Yelisa,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO,DBAJO
Tapasco Lopez Juan Jose,DS,DA,DA,DA,DA,DA,DS,DA,DS,DA,DS,DS,DA,DS,DB
Tobon Gallego Juan Pablo,DBAJO,DBAJO,DBAJO,DA,DA,DA,DB,DB,DB,DBAJO,DBAJO,DB,DB,DB,DB
Usuga Baena Melannie,DB,DA,DB,DS,DS,DA,DA,DA,DA,DB,DA,DA,DA,DA,DB
Villegas Jimenez Miguel,DB,DA,DB,DS,DS,DA,DA,DB,DA,DB,DA,DA,DB,DA,DB
Yepez Carrasco Yosue Alexander DESERTOR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zuluaga Palomino Juan Pablo TUVO PROMOCIÓN ANTICIPADA 13/03/24,DB,DB,DB,DA,DA,DA,DB,DA,DB,DB,DB,DA,DB,DB,DB
Ramirez Aguirre Juan Esteban,DS,DS,DA,DA,DA,DA,DS,DB,DS,DB,DS,DS,DA,DS,DB
Ramos Segovia Alcira Maria SE RETIRO EL 08/03/24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Velez Buitrago Juan Manuel,DB,DB,DB,DS,DS,DA,DA,DA,DA,DB,DA,DB,DB,DA,DB
Viloria Muñoz Adrian,DA,DA,DA,DS,DS,DA,DS,DA,DS,DA,DS,DA,DA,DS,DB
Gomez Loaiza Valerie,DB,DB,DB,DA,DA,DA,DB,DB,DB,DB,DA,DA,DA,DB,DB
Gallego Quiros Simon Felipe,DA,DA,DA,DS,DS,DS,DS,DA,DS,DS,DS,DS,DS,DS,DA
Guerra Arenas Santiago,DA,DA,DA,DS,DS,DA,DS,DA,DS,DS,DA,DA,DA,DS,DB
Libernal Lopez Jhonfreth De Jesus,DB,DB,DB,DB,DB,DA,DB,DA,DB,DB,DB,DB,DB,DB,DB
Nieto Hincapié Yeferson,DS,DS,DA,DS,DS,DA,DS,DA,DS,DA,DA,DS,DS,DS,DA
Martinez Carmona Moise Jesus,DB,DB,DB,DA,DA,DA,DA,DA,DA,DBAJO,DB,DB,DB,DA,DB
Menco Jimenez Juan Sebastian,DB,DA,DB,DS,DS,DA,DB,DA,DB,DA,DB,DA,DA,DB,DB
Balzan Doria Sebastian Jose,DBAJO,DBAJO,DB,DA,DA,DA,DB,DA,DB,DB,DB,DB,DB,DB,DB
Pulgarín De Ossa Jeronimo,DB,DA,DB,DS,DS,DS,DS,DA,DS,DA,DA,DA,DA,DS,DB
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN